<div class="col-md-6">
  <h3>Projects</h3>
  <% @projects.each() do |project| %>
    <h4 class="indent"><a href="/project/<%= project.id()%>"><%= project.name() %></a></h4>
  <% end %>
</div>
<div class="col-md-6">
  <form action="/add_project" method="post">
    <input class="form-control inline-block input-field" type="text" name="project" required>
    <button class="btn btn-primary inline-block button" type="submit" name="button">Add Project</button>
  </form>
  <br>
  <form action="/add_volunteer" method="post">
    <input class="form-control inline-block input-field" type="text" name="volunteer" required>
    <button class="btn btn-primary inline-block button" type="submit" name="button">Add Volunteer</button>
  </form>
  <hr>
  <h4>All Volunteers</h4>
  <% @volunteers.each() do |volunteer| %>
    <p class="indent"><%= volunteer.name() %></p>
  <% end %>
</div>
