<!DOCTYPE html>
<html>
  <head>
    <title>Volunteer Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='../css/styles.css'>
  </head>
  <body>
    <div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Volunteer Tracker</h3>
        </div>
        <div class="panel-body">
          <%= yield %>
        </div>
      </div>
      <a href="/">
        <button class="btn btn-primary" type="button" > Home</button>
      </a>
      <form action="/clear_all" method="post" class="inline-block">
        <button class="btn btn-danger inline-block" type="submit" name="clear_all">Clear Database</button>
      </form>
    </div>
  </body>
</html>
