<!DOCTYPE html>
<html>
  <head>
    <title>Volunteer Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='../css/styles.css'>
  </head>
  <body>
    <div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Volunteer Tracker</h3>
        </div>
        <div class="panel-body">
          <%= yield %>
        </div>
      </div>
      <form action="/clear_all" method="post">
        <button class="btn btn-danger" type="submit" name="clear_all">Clear Database</button>
      </form>
    </div>
  </body>
</html>
